body {
    background-color: #1f4d3a;
    color: white;

    font-family: Arial, sans-serif;
    text-align: center;

    margin: 0;
}

.hero {
    background-color: #2d5a27;

    height: 400px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: white;
}

h1 {
    font-size: 4rem;
    color: #2c3e50;
}

p {
    font-size: 1.5rem;
}
a {
    color: blue;
}
